<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-custom fixed-top">
    <div class="container">

      <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">Samcoin</a>

      <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" data-toggle="collapse"
              data-target="#navbarCollapse" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-lg py-1 text-white"></i>
      </button>

      <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/sam-baeck-957325aa/"><i class="fas fa-user"></i> Founder</a>
          </li>
          <li class="nav-item">
            <a target="_blank" class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fas fa-dollar-sign"></i> Buy</a>
          </li>
        </ul>

        <a href="https://twitter.com/intent/tweet?button_hashtag=Samcoin"
           class="twitter-hashtag-button d-none d-lg-inline"
           data-size="large"
           data-text="Samcoin, decentralized fidget spinners and no fees!"
           data-url="https://ng-bootstrap.github.io"
           data-show-count="true">Tweet #Samcoin</a>

      </div>
    </div>
  </nav>
</header>

<particles id="particles" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<!--<particles id="particles" [params]="myParams" [width]="width" [height]="height"></particles>-->
<div id="overlay">[Your content here]</div>


<section class="jumbotron text-center">
  <div class="container">
    <img src="./assets/animated.gif" alt="">
    <p class="lead text-muted">The world’s only enterprise blockchain solution for decentralized fidget spinnerstangle.jpg</p>
    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
