<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-custom fixed-top">
    <div class="container">

      <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">Samcoin</a>

      <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" data-toggle="collapse"
              data-target="#navbarCollapse" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-lg py-1 text-white"></i>
      </button>

      <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/sam-baeck-957325aa/"><i
              class="fas fa-user"></i> Founder</a>
          </li>
          <li class="nav-item">
            <a target="_blank" class="nav-link" href="./assets/whitepaper.pdf"><i class="fas fa-file"></i>
              Whitepaper</a>
          </li>
        </ul>

        <a href="https://twitter.com/intent/tweet?button_hashtag=Samcoin"
           class="twitter-hashtag-button d-none d-lg-inline"
           data-size="large"
           data-text="Samcoin, decentralized fidget spinners and no fees!"
           data-url="https://ng-bootstrap.github.io"
           data-show-count="true">Tweet #Samcoin</a>

      </div>
    </div>
  </nav>
</header>

<particles id="particles" [params]="myParams" [style]="myStyle"></particles>

<section class="jumbotron text-center intro">
  <div class="container">
    <img src="./assets/animated.gif" alt="coin">
    <!--<h1 countUp endVal="345">0</h1>-->
    <p class="intro__text">The world’s only enterprise blockchain solution for decentralized fidget spinners</p>
    <p>
      <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary"><i
        class="fas fa-play-circle"></i> Watch Video</a>
      <a href="#" class="btn btn-warning"><i
        class="fas fa-dollar-sign"></i> Watch Video</a>
    </p>
  </div>
</section>


<section class="jumbotron text-center press">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
        <a target="_blank"
           href="https://www.tijd.be/ondernemen/technologie/Cryptovaluta-Het-nieuwe-goud/9903178?ckc=1&ts=1515705275">
          <img src="./assets/detijd.png" alt="detijd">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
        <a target="_blank"
           href="https://www.forbes.com/sites/karlkaufman/2017/12/20/cryptocurrency-the-dark-side-of-investing/#3d3aa7e191a8">
          <img src="./assets/forbes.png" alt="forbes">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
        <a target="_blank"
           href="https://finance.yahoo.com/news/south-koreas-major-cryptocurreny-exchanges-005901938.html">
          <img src="./assets/yahoo.png" alt="yahoo">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
        <a target="_blank" href="http://money.cnn.com/2018/01/02/technology/what-is-ripple-cryptocurrency/index.html">
          <img src="./assets/cnn.png" alt="cnn">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
        <a target="_blank" href="https://tweakers.net/tag/Bitcoin/forum/">
          <img src="./assets/tweakers.png" alt="tweakers">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron text-center comparison">
  <div class="container">
    <p class="comparison__title">One coin to rule them all.</p>
    <table class="table table-light table-striped table-bordered">
      <thead>
      <tr>
        <th class="feature-header feature-header--primary" scope="col">FEATURES</th>
        <th class="feature-header feature-header--secondary" scope="col">Samcoin</th>
        <th class="feature-header" scope="col">Bitcoin</th>
        <th class="feature-header" scope="col">Litecoin</th>
        <th class="feature-header" scope="col">Ethereum</th>
        <th class="feature-header" scope="col">Ripple</th>
        <th class="feature-header" scope="col">NEO</th>
        <th class="feature-header" scope="col">Monero</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="feature-label feature-label--primary" scope="row">Fidget Spinners</th>
        <td class="feature-availability feature-availability--primary"><i class="fas fa-check"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
      </tr>
      <tr>
        <th class="feature-label feature-label--secondary" scope="row">Feeless</th>
        <td class="feature-availability feature-availability--secondary"><i class="fas fa-check"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
      </tr>
      <tr>
        <th class="feature-label feature-label--primary" scope="row">Epic Coin Design</th>
        <td class="feature-availability feature-availability--primary"><i class="fas fa-check"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
        <td class="feature-availability"><i class="fas fa-minus"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="jumbotron text-center statistics">
  <div class="container">

    <div class="statistics__title">STATISTICS</div>

    <div class="row">
      <div class="col-sm statistics__data">
        <p class="statistics__value">59,699,000</p>
        <p class="statistics__label">MAXIMUM COIN SUPPLY</p>
      </div>
      <div class="col-sm statistics__data">
        <p class="statistics__value">$72.25</p>
        <p class="statistics__label">PRICE</p>
      </div>
      <div class="col-sm statistics__data">
        <p class="statistics__value">$120,225,125,558</p>
        <p class="statistics__label">TOTAL MARKET CAP</p>
      </div>
    </div>

  </div>
</section>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
